<form [formGroup]="form" class="filter-form" autocomplete="off">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input formControlName="filter" matInput>
  </mat-form-field>
</form>
<div *ngIf="nextPageToken" class="action-text-container">
  <span class="action-text" (click)="loadVideos()">...click here for show more... ({{filteredList.length}}) </span>
</div>

<app-video-list [videos]="filteredList"></app-video-list>

<div *ngIf="nextPageToken" class="action-text-container">
  <span class="action-text" (click)="loadVideos()">...click here for show more... ({{filteredList.length}}) </span>
</div>