.action-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-text{
  font: 18px Roboto; 
  color: #3f51b5;
  line-height: 20px;
  cursor: pointer;
  margin-right: 20px;
  &:hover {
    text-decoration: underline;
  } 
}

.filter-form {
  width: 100%;
  display: flex;
  justify-content: center;
  .mat-form-field {
    font-size: 22px;
    min-width: 50%;
    padding-top: 40px;
  }
}
