:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.video-card {
  padding: 5px;
}

.mat-card-title {
  min-height: 60px;
  height: 60px;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.video-card {
  max-width: 400px;
}

.video-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
